  <div>
    <mat-toolbar color="primary">
        
        <ul>
          <a href='accueil'>ACCUEIL</a>
        </ul>
        <ul>
          <a href='login'>LOGIN</a>
        </ul>
        <ul>
          <a  href='register'>SIGN UP</a>
        </ul>
        <ul><button mat-button [matMenuTriggerFor]="menu"><a>CARS</a></button>
          <mat-menu #menu="matMenu">
            <a href='tv'><button mat-menu-item>BMW</button></a>
            <a href='pc'><button mat-menu-item>AUDI</button></a>
          </mat-menu></ul> 
            
    </mat-toolbar>
    
  </div>  
  