body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("https://upload.wikimedia.org/wikipedia/fr/thumb/1/15/Audi_logo.svg/2560px-Audi_logo.svg.png");
    background-size: cover; /* Adjust background size as needed */
    background-repeat: no-repeat; /* Prevent background image from repeating */
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
}

.card {
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.card-text {
    color: #666;
    font-size: 14px;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}
